<!-- ShopSphere Header -->
<header class="bg-black p-4">
  <a href="/" class="text-white text-2xl font-bold tracking-wider">
    <i class="fa-solid fa-shop"></i> ShopSphere
  </a>
</header>

<div class="flex flex-col h-screen p-4 bg-gray-100">

  <!-- Portal Header -->
  <h1 class="text-3xl font-bold mb-6 text-black tracking-wider">Sellers Portal</h1>

  <!-- Login and Signup Container -->
  <div class="flex justify-center space-x-8 bg-white rounded-lg shadow-lg p-6">

    <!-- Login Section -->
    <div class="flex flex-col space-y-4 w-96 border-r-2 border-gray-300 pr-6">
      <h2 class="text-2xl font-bold text-black">Login</h2>
      <form action="/au/sellers/login" method="POST">
        <div class="flex flex-col space-y-2">
          <label for="email-login" class="text-sm font-medium text-gray-700">Email:</label>
          <input class="p-2 border rounded-md bg-gray-50" type="text" id="email-login" name="email" />
        </div>
        <div class="flex flex-col space-y-2">
          <label for="password-login" class="text-sm font-medium text-gray-700">Password:</label>
          <input class="p-2 border rounded-md bg-gray-50" type="password" id="password-login" name="password" />
        </div>
        <button class="mt-4 bg-black text-white py-2 px-4 rounded-md hover:bg-gray-800 transition duration-300"
          type="submit">Login</button>
      </form>
    </div>

    <!-- Signup Section -->
    <div class="flex flex-col space-y-4 w-96 pl-6">
      <h2 class="text-2xl font-bold text-black">Signup</h2>
      <form action="/au/sellers/create" method="POST">
        <div class="flex flex-col space-y-2">
          <label for="username-signup" class="text-sm font-medium text-gray-700">Username:</label>
          <input class="p-2 border rounded-md bg-gray-50" type="text" id="username-signup" name="username" />
        </div>
        <div class="flex flex-col space-y-2">
          <label for="email-signup" class="text-sm font-medium text-gray-700">Email:</label>
          <input class="p-2 border rounded-md bg-gray-50" type="text" id="email-signup" name="email" />
        </div>
        <div class="flex flex-col space-y-2">
          <label for="password-signup" class="text-sm font-medium text-gray-700">Password:</label>
          <input class="p-2 border rounded-md bg-gray-50" type="password" id="password-signup" name="password" />
        </div>
        <p class="text-xs text-gray-600 mt-2">Password must be at least 8 characters long.</p>
        <button class="mt-4 bg-black text-white py-2 px-4 rounded-md hover:bg-gray-800 transition duration-300"
          type="submit">Signup</button>
      </form>
    </div>

  </div>
</div>